<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>7 ELEVEN</title>
    <link href="../../../resources/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="../../../resources/css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link href="../../../resources/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

</head>
<body>
<!-- header -->
<header>
    <div class="logo">
        <a href=""></a>
    </div>
</header>
<!-- end -->
<nav id="main-menu">
    <a class="mobile-menu" href="" style="display:none">MENU</a>
    <ul>
        <li><a href="">Praesentium</a></li>
        <li><a href="">Voluptatum</a></li>
        <li><a href="">Dignissimos</a></li>
        <li><a href="">Blanditiis</a></li>
    </ul>
</nav>

<section class="top-bold">
    <p class="top">
        Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem sit amet tempor
    </p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
</section>

<section id="registration-form">
    <form id="regForm" action="/main" method="post">
        <h1>Registration Form</h1>
        <div class="field-group">
            <div class="input-group">
                <div class="label">Name</div>
                <div class="field">
                    <input type="text" name="name" id="name">
                </div>
            </div>

            <div class="input-group">
                <div class="label">Email</div>
                <div class="field">
                    <input type="email" name="email" id="email">
                </div>
            </div>

            <div class="input-group">
                <div class="label">Mobile Number</div>
                <div class="field">
                    <input type="phone" name="mobile" id="mobile">
                </div>
            </div>

            <div class="input-group">
                <div class="label">Date of birth</div>
                <div class="field">
                    <select class="select" name="month">
                        <option value="">MONTH</option>
                        <option>2</option>
                    </select>
                    <select class="select" name="day">
                        <option value="">DAY</option>
                        <option>5</option>
                    </select>
                    <select class="select" name="year">
                        <option value="">YEAR</option>
                        <option>1992</option>
                    </select>
                </div>
            </div>
            <div class="input-group">
                <div class="label" style="margin-top: 0;">Gender</div>
                <div class="field radio">
                    <input type="radio" name="gender" id="female" style="margin-left: 0;"> <label for="female">Female</label>
                    <input type="radio" name="gender" id="male"> <label for="male">Male</label>
                </div>
            </div>

            <div class="input-group">
                <div style="margin-top: 0;"></div>
                <div class="checkbox field" style="margin-left: 100px;">
                    <input id="check1" type="checkbox" name="checkbox" value="">
                    <label for="check1">Proin sit amet lectus venenatis, consectetur
                        magna vitae, convallis diam. Nullam iaculis.
                    </label>
                </div>
            </div>
            <div class="cards">
            </div>

            <input type="hidden" th:name='${_csrf.parameterName}' th:value='${_csrf.token}'/>
            <div class="input-group">
                <div class="alert-report" style="display:none; margin-left: 200px; margin-top: 40px; border: solid 2px green; padding: 20px;">
                    <span></span>
                    <a href="#"><i>Remove storage item</i></a>
                </div>
                <input type="submit" id="submitBtn" value="Submit">
            </div>
        </div>
    </form>
</section>
<section id="mediaView" style="display:none">
    <div style="height: 350px;">
        <canvas id="myCanvas"></canvas>

        <video id="myTune">
            <source src="videos/bbb_sunflower_1080p_60fps_normal.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <!--<button onclick="play_audio('play')">PLAY</button>-->
    <div id="btnGroup">
        <button id="play_pause" onclick="audioControl('play_pause')">PLAY</button>
        <button onclick="audioControl('stop')">STOP</button>
    </div>
</section>
<div style="display:none">
    <div id="result">Result here</div>
    <button onclick="startWorker()">Start worker</button>
    <button onclick="stopWorker()">Stop worker</button>
</div>
<footer>
    <nav>
        <ul>
            <h1>SUSPENDISSE</h1>

            <li><a href="">Quisque</a></li>
            <li><a href="">Faucibus</a></li>
            <li><a href="">Sapien</a></li>
            <li><a href="">Hendrerit</a></li>
        </ul>
    </nav>

    <nav>
        <ul>
            <h1>PORTA</h1>

            <li><a href="">Mauris</a></li>
            <li><a href="">Suscipit</a></li>
            <li><a href="">At ipsum</a></li>
            <li><a href="">Vehicula</a></li>
        </ul>
    </nav>

    <nav>
        <ul>
            <h1>FEUGIAT</h1>

            <li><a href="">Pellentesque</a></li>
            <li><a href="">Accumsan</a></li>
            <li><a href="">Velit in urna</a></li>
            <li><a href="">Faucibus</a></li>
        </ul>
    </nav>

    <nav>
        <ul>
            <h1>PLACERAT</h1>

            <li><a href="">Vitae</a></li>
            <li><a href="">Convallis</a></li>
            <li><a href="">Augue</a></li>
            <li><a href="">Aliquam</a></li>
        </ul>
    </nav>
</footer>

<!--<script src="js/jquery-1.9.1.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/app.js"></script>
<script>
    /*var worker = new Worker('js/workers.js');
        worker.onmessage = function(event){
            document.getElementById("result").textContent = event.data;
        }
</script>-->
</body>
</html>